.reset-pwd-form {
    height: 27rem;
    width: 25rem;
    background-color: rgba(255, 255, 255, 0.034);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 47%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 30px 35px;

}

.reset-pwd-form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.change-label {
    display: block;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.change-input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(49, 186, 190, 0.2);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 1.5rem;
    font-weight: 300;
}

.submit-button {
    background-color: rgb(92, 2, 2);
    color: white;
    margin: 1rem;
    position: relative;
    left: 8rem;
    font-weight: bold;
}

.exit-button {
    background-color: rgb(92, 2, 2);
    color: white;
    width: 2rem;
    height: 2rem;
    padding: 0;
}

.error-message {
    color: rgb(92, 2, 2);
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
}

.pwd-form-headers {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}