html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-product {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    width: 100%;
    height: 86%;
    padding-top: 5rem;
    background-color: rgb(233, 230, 240);
}

.right-section {
    width: 50%;
}

.left-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    background-color: white;
}

.product-image-div {
    width: 75%;
    height: 90%;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}


.product-order-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 75%;
    margin-left: 1.5rem;
    justify-content: space-between;
}

.price {
    font-size: 3rem;
    margin: 0;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.add-to-cart-buttonn {
    cursor: pointer;
    color: white;
    background-color: black;
}

.right-section {
    padding-left: 3rem;
}

.product-name {
    font-size: 3rem;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.product-name-div {
    padding-left: 5rem;
}

.property {
    font-size: 1.5rem;
    margin: 0.5rem;
}

.product-image {
    width: 100%;
    height: 100%;
}

.product-details-div {
    color: black;
}