.filterButton{
    display: block;
    background-color: rgb(167, 228, 15);
    width: inherit;
    margin-top: 4vh;
}
#filter-buttons{
    width: 26vw;
    height: 60%;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    font-size: 1em;
    margin-top: 10vh;
}