.filterButton {
    display: block;
    background-color: white;
    width: inherit;
    margin-top: 2vh;
}

#filter-buttons {
    width: 26vw;
    height: 100%;
    border-width: 2px;
    font-size: 1em;
    background-color: rgb(227, 231, 225);
    padding-top: 5rem;
    position: fixed;
    z-index: 10;
}