#logo {
    border-radius: 50%;
    height: 4rem;
    padding-left: 1rem;
}

#searchbar {
    margin-left: 5vw;
    margin-right: 10vw;
    height: 50%;
    width: 30%;
    font-size: 0.9em;
}

#input-message {
    margin-left: 2.8vw;
}

.auth-buttons {
    position: absolute;
    right: 3rem;
}

.profile-logo {
    height: 1.2rem;
    position: relative;
    top: 2px;
    cursor: pointer;
}